* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
    color: white;
}

.container_op {
    padding: 1px;
    background-color: black;
}

.powers {
    border: none;
    height: 40px;
    width: 300px;
}

h1 {
    font-size: 1.5em;
    text-align: right;
    background-color: #f03a17;
 
}

p  {
    text-align: right;
    padding: 5px;
}

.menu {
    height: 140px;
    border: 3px dashed wheat;
}

.logo_mario {
    height: 140px;
    width: 700px;
    border: none;
}

.mario_chars {
    height: 100px;
    width: 200px;
    border: none;
}

.home {
    color: black;
    background-color: #eed4c9;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid rgb(27, 154, 4);
    
}

.personagens {
    color: black;
    background-color: #eed4c9;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid rgb(27, 154, 4);
}

a:hover {
    color: white;
    background-color: #f03a17;
    border-radius: 5px;
}


img {
    height: 300px;
    width: 320px;
    border-radius: 100px;
    border: 3px dashed wheat;
}

.container {
    width: 100vw;
    display: flex;
    background-color: black;
    
    
}