@media (max-width: 1000px) { 

    .logo_mario {
        height: 100px;
        width: 300px;
    }
    .container_op {
        padding: 1px;
        
        background-color: black;
        width: 100vw;
    }

    a {
        font-size: 1.6em;
    }

    img {
        height: 135px;
        width: 165px;
        border-radius: 100px;
        
    }

    .container {
        display: flex;
        background-color: black;
        width: 100vw;
        
    }
   
}


/*ipad---Celular*/
@media (max-width: 600px) {


    .container_op {
        padding: 1px;
    
        background-color: black;
        width: 100vw;
        
    }

    .menu {
        height: 120px;
    }

    h1 {
        font-size: 0;
        height: 20px;
    }

    .powers {
        height: 20px;
        width: 140px;
    }
    
    .logo_mario {
        height: 60px;
        width: 200px;
    }

    .mario_chars {
        height: 50px;
        width: 100px;
        
    }

    a {
        font-size: 1em;
        
        
    }

    

    img {
        height: 100px;
        width: 120px;
        border-radius: 100px;
        
    }

    .container {
        display: flex;
        background-color: black;
        width: 100vw;
        
    }
}