@media (max-width: 1600px) { 

    .logo_mario {
        height: 135px;
        width: 500px;
    }
    .container_op {
        padding: 1px;
        
        background-color: black;
        width: 100vw;
    }

    .home {
        font-size: 1.0em;

    }

    .personagens {
        font-size: 1.0em;
    }

    img {
        height: 210px;
        width: 330px;
        border-radius: 100px;
        
    }

    .container {
        display: flex;
        background-color: black;
        width: 100vw;
        
    }
   
}

@media (max-width: 1300px) { 

    .logo_mario {
        height: 135px;
        width: 500px;
    }
    .container_op {
        padding: 1px;
        
        background-color: black;
        width: 100vw;
    }

    .home {
        font-size: 1.0em;

    }

    .personagens {
        font-size: 1.0em;
    }

    img {
        height: 170px;
        width: 220px;
        border-radius: 100px;
        
    }

    .container {
        display: flex;
        background-color: black;
        width: 100vw;
        
    }
   
}

@media (max-width: 1000px) {
    
    h1 {
        height: 25px;
    }

    .powers {
        height: 20px;
        width: 180px;
    }

    .menu {
        height: 140px;
    }

    .logo_mario {
        height: 110px;
        width: 370px;
    }

    .mario_chars {
        height: 60px;
        width: 160px;
        
    }

    .container_op {
        padding: 1px;
        
        background-color: black;
        width: 100vw;
    }

    .home {
        font-size: 0.85em;

    }

    .personagens {
        font-size: 0.85em;
    }

    img {
        height: 140px;
        width: 180px;
        border-radius: 100px;
        
    }

    .container {
        display: flex;
        background-color: black;
        width: 100vw;
        
    }
   
}

@media (max-width: 790px) {

    h1 {
        height: 30px;
    }

    
    .powers {
        height: 20px;
        width: 200px;
        
    }

    .menu {
        height: 100px;
        
    }

    .logo_mario {
        
        height: 80px;
        width: 300px;
    }

    .mario_chars {
        height: 60px;
        width: 140px;
        
    }


    img {
        height: 130px;
        width: 120px;
    }


    .home {
        font-size: 0.85em;
    }
    
    .personagens {
        font-size: 0.85em;
    }
}


/*ipad---Celular*/
@media (max-width: 600px) {


    .container_op {
        padding: 1px;
    
        background-color: black;
        width: 100vw;
    }

    .menu {
        height: 80px;
    }

    h1 {
        font-size: 0;
        height: 20px;
    }

    .powers {
        height: 20px;
        width: 140px;
    }
    
    .logo_mario {
        height: 60px;
        width: 170px;
    }

    .mario_chars {
        height: 40px;
        width: 90px;
    }

    .home {
        font-size: 0.80em;
    }
    .personagens {
        font-size: 0.80em;
    }

    img {
        height: 120px;
        width: 100px;
        border-radius: 100px;
    }

    .container {
        display: flex;
        background-color: black;
        width: 100vw;
    }
}