@media (max-width: 1000px) { 

    .logo_mario {
        height: 135px;
        width: 500px;
    }
    .container_op {
        padding: 1px;
        
        background-color: black;
        width: 100vw;
    }

    
    .container {
        display: inline;
    }

    .status  {
        color: white;
        font-size: 0.92em;
        width: 100vw;
        height: 150px;
        display: flex;
        
    }

}

@media (max-width: 790px) {
    
    .logo_mario {
        text-align: left;
        height: 80px;
        width: 400px;
    }
    a {
        font-size: 1.2em;
    }
}

/*ipad*/
@media (max-width: 600px) {


    .container_op {
        padding: 1px;
        text-align: left;
        background-color: black;
        width: 100vw;
        
    }
    
    .logo_mario {
        height: 60px;
        width: 300px;
    
    }

    a {
        font-size: 1em;
    }

    .container {
        display: inline;
        
    }

    .status  {
        color: white;
        font-size: 0.70em;
        width: 100vw;
        height: 150px;
        display: flex;
    }
}

/*celular*/
@media (max-width: 375px) {


    .container_op {
        padding: 1px;
        text-align: right;
        background-color: black;
        width: 100vw;
    }
    
    .logo_mario {
        height: 80px;
        width: 200px;
    }

    a {
        font-size: 1em;
    }

    .container {
        display: inline;
    }

    .status  {
        color: white;
        font-size: 0.90em;
        width: 100vw;
        height: 150px;
        display: flex;
    }
}
