@media (max-width: 600px) {

    .container {
        display: inline-block;
    }



    .status  {
        color: white;
        font-size: 0.71em;
        width: 100vw;
        height: 150px;
        display: flex;
    }
       
}

@media (max-width: 350px) {

    .container {
        display: inline-block;
    }

    .status  {
        color: white;
        font-size: 0.71em;
        width: 100vw;
        height: 80px;
        display: flex;
    }
       
}