 * {
    padding: 0;
    margin: 0;
 }

body {
   
    font-family: 'Poppins';
    color: white; 
       
}

header {
    height: 200px;
   
}

.container_op {
    text-align: center;
    width: 100vw;
}

.powers {
    border: none;
    height: 30px;
    width: 450px;
}

.nome {
    background-color: white;
    color: black;
    font-size: 0.90em;
    border: 1px solid white;
    height: 27px;
    border-radius: 5px;
    margin: 15px;
    padding: 2px;
}

p  {
    text-align: right;
    padding: 5px;
}

.container > .status > p {
    font-size: 0.90em;
    text-align: left;
    padding: 0;
} 

.logo_mario {
    height: 140px;
    width: 500px;
    
}

.mario_chars {
    height: 90px;
    width: 140px;
}

.home {
    color: black;
    background-color: #eed4c9;
    font-size: 1.50em;
    text-decoration: none;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid rgb(17, 53, 217);
    
}

.jogos {
    color: black;
    background-color: #eed4c9;
    font-size: 1.50em;
    text-decoration: none;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid  rgb(17, 53, 217);
}

a:hover {
    color: white;
    background-color: #f03a17;
   
}

#mario {
    background-color: #f03a17;
}

#toad {
    background-color: #38abe0;
}

#luigi {
    background-color: #0a9c05;
}

#princesa {
    background-color: #df62c0;
}

#bowser {
    background-color: #672323;
}

#yoshi {
    background-color: #26a969;
}

.mario2,
.toad2,
.luigi2,
.princesa2,
.bowser2,
.yoshi2 {
    height: 350px;
    width: 350px;
}

.status  {
    color: white;
    font-size: 1.4em;
    width: 100vw;
    height: 360px;
    display: flex;
}
   

    
    






