 * {
    padding: 0;
    margin: 0;
 }

body {
    font-family: 'Poppins';    
}

.container_op {
    padding: 5px;
    text-align: center;
    background-color: black;
  
}

.logo_mario {
    height: 160px;
    width: 900px;
}

a {
    color: white;
    font-size: 2em;
   
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

a:hover {
    color: black;
    background-color: white;
}


p {
   padding: 2px;
}

.container {
    display: flex;
}

#mario {
    background-color: #f03a17;
}
#toad {
    background-color: #38abe0;
}
#luigi {
    background-color: #0a9c05;
}
#princesa {
    background-color: #df62c0;
}
#bowser {
    background-color: #672323;
}
#yoshi {
    background-color: #26a969;
}

.status  {
    color: white;
    font-size: 1.4em;
    width: 100vw;
    height: 330px;
    display: flex;
    
}
   

    
    






